:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-card {
    padding: 50px;
    border-radius: 0;
}

p {
    width: 10em;
    text-align: center;
    margin-top:35px;
    word-wrap: break-word;
}