<div class="mat-typography" style="display:flex;flex-direction:row;flex-wrap:wrap;" [@listAnimation]="div">
   <mat-card *ngFor="let productitem of productSearchResult?._embedded.productInfoResourceList">
        <div style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:start;align-items:center;align-content:center;">
            <img [src]="getImage(productitem, 'language')" width="75" height="75">
            <img [src]="getImage(productitem, 'framework')" width="75" height="75">
        </div>
        <p>{{productitem?.title}}</p>
    </mat-card>
</div>