

<mat-toolbar>
  <mat-toolbar-row>
      <div class="brand">
        <img src="http://res.cloudinary.com/dzmrr9uj9/image/upload/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </div>

      <span class="spacer"></span>
        
      <button mat-button *ngIf="!authService.isAuthenticated()" (click)="authService.login()">Login</button>

      <ng-container *ngIf="authService.isAuthenticated()">
          <button mat-button routerLink="product">
              <mat-icon>account_circle</mat-icon>
              <span>Templates</span>
          </button>
          <button mat-button routerLink="metadata">
              <mat-icon>account_circle</mat-icon>
              <span>Metadata</span>
          </button>
          <button mat-button [matMenuTriggerFor]="userMenu">
              <img [src]="profile?.picture" class="avatar" width="36" height="36">
              <span>{{ profile?.nickname }}</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
              <button mat-menu-item (click)="authService.logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Logout</span>
              </button>
          </mat-menu>
      </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
