
<nav class="navbar fixed-top navbar-light bg-light" style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;">
  <a class="navbar-brand" routerLink="/">
    <img src="http://res.cloudinary.com/dzmrr9uj9/image/upload/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Rockstar Admin
  </a>
  <div style="display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;width:25%;" *ngIf="authService.isAuthenticated()">
    <a class="nav-link" routerLink="product">Templates</a>
    <a class="nav-link" routerLink="/metadata">Metadata</a>
    <a class="nav-link" (click)="authService.logout()">Sign out</a>
  </div>
  <a class="nav-link" (click)="authService.login()" *ngIf="!authService.isAuthenticated()">Sign in</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img src="http://res.cloudinary.com/dzmrr9uj9/image/upload/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
</nav>
